main {
    padding-top: 80px;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 5%;
    gap: 2rem;
  }

  .product-image {
    flex: 1;
    max-width: 500px;
  }

  .product-image img {
    width: 100%;
    height: 400px;
    object-fit:contain;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .product-info {
    flex: 1;
    max-width: 500px;
  }

  .product-title {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .price-container {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }

  .product-price {
    font-size: 1.8rem;
    color: var(--secondary-color);
  }

  .original-price {
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: line-through;
  }

  .discount-percentage {
    font-size: 1.2rem;
    color: var(--discount-color);
    font-weight: bold;
  }

  .product-rating {
    font-size: 1.1rem;
    color: #f1c40f;
    /* color: var(--text-color); */
    margin-bottom: 1rem;
  }

  .product-description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .product-features {
    margin-bottom: 1.5rem;
  }

  .product-features h3 {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
  }

  .product-features ul {
    list-style-type: none;
    padding-left: 1rem;
  }

  .product-features li {
    margin-bottom: 0.5rem;
  }

  .product-features li:before {
    content: "•";
    color: var(--secondary-color);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  .button-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .add-to-cart, .share-button, .buy-flipkart {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
  }

  .add-to-cart {
    background-color: var(--primary-color);
    color: var(--icon-color);
  }

  .add-to-cart:hover {
    background-color: #7d3c98;
  }

  .share-button {
    background-color: var(--secondary-color);
    color: var(--icon-color);
  }

  .share-button:hover {
    background-color: #27ae60;
  }

  .buy-flipkart {
    background-color: var(--flipkart-color);
    color: var(--icon-color);
  }

  .buy-flipkart:hover {
    background-color: #1c5dc9;
  }


  

  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }

    

    .product-container {
      flex-direction: column;
      align-items: center;
    }

    .product-image,
    .product-info {
      max-width: 100%;
    }
  }