{%extends"base.html" %}
{%block content%}

<main>
  <h1 class="page-heading">Discover Our Latest Audio Innovations</h1>
  <!-- <section class="reviews">
    <p class="head2">Featured Buzz</p>
  </section> -->

  <section class="categories">
    <a href="/tws">
      <div class="category ">TWS</div>
    </a>
    <a href="/over-ear-headphones">
      <div class="category">Over-Ear Headphones</div>
    </a>
    
    <a href="/wired+earphones">
      <div class="category">Wired Earphones</div>
    </a>
    <a href="/studio-headphones">
      <div class="category">Studio Headphones</div>
    </a>
    
    <a href="/neckband">
      <div class="category">Neckbands</div>
    </a>
  </section>
  
  <section class="products">
    {%for item in data%}
    
    {% set disc = (item['price']/ item['originalPrice']) *100%}

    <div class="product">
      <a href="/details">
        <img src="{{item['image']['original']}}" alt="SonicWave Pro" width="250" height="250">
        <div class="product-info">
          <h3>{{item.title}}</h3>
          <span class="price">₹ {{item.price}}</span>
        </div>
        <div class="review-card">{{item.starRating}} ★</div>
        <div class="discount">{{disc | int}}%</div>
      </a>
    </div>
    {%endfor%}
  </section>

  <!-- <a href="/products" class="view-more">View More Products</a> -->



  

  <section class="reviews">
    <h1>EarBuzz - Buy the best earphones</h1>
    <div class="review">
      <div class="review-header">
        <!-- <span class="review-author">John D.</span>
          <span class="review-rating">★★★★★</span> -->
      </div>
      <p class="review-content">We try to bring out the most valuable earphones for our users as earphones are very
        important product now days. These earphones are extracted from Flipkart and are listed in our site.</p>
    </div>
    <div class="review">
      <div class="review-header">
        <span class="review-author">Earphone Details</span>
        <span class="review-rating">★★★★☆</span>
      </div>
      <p class="review-content">Great sound and comfortable to wear for long periods. The battery life is impressive.
        The only minor issue is that they're a bit bulky for travel, but the sound quality makes up for it.</p>
    </div>
    <div class="review">
      <div class="review-header">
        <span class="review-author">Alex T.</span>
        <span class="review-rating">★★★★★</span>
      </div>
      <p class="review-content">As an audio engineer, I'm very picky about my headphones. The EchoFlex Pro exceeded my
        expectations. The clarity and balance across all frequencies are exceptional. Highly recommended for
        professionals.</p>
    </div>
  </section>

  <!-- <section class="cta-section">
      <h2>Unlock Your Sound Potential</h2>
      <p>Experience music like never before with AudioSynergy's cutting-edge technology.</p>
      <a href="#shop" class="cta-button">Explore Our Collection</a>
    </section> -->
</main>





{%endblock%}