{%extends"base.html" %}

{%block seo%}
<title>Earbuzz - Premium Earphones for Audiophiles</title>
<meta name="description" content="Buy amazing earphones with earbuzz make your audio journey amazing and enjoyable.">
{%endblock%}
{%block content%}

<main>
  <h1 class="page-heading">Discover Latest Audio Innovations</h1>
  <!-- <section class="reviews">
    <p class="head2">Featured Buzz</p>
  </section> -->

  <section class="categories">
    <a href="/tws">
      <div class="category ">TWS</div>
    </a>
    <a href="/over-ear-headphones">
      <div class="category">Over-Ear Headphones</div>
    </a>

    <a href="/wired-earphones">
      <div class="category">Wired Earphones</div>
    </a>
    <a href="/studio-headphones">
      <div class="category">Studio Headphones</div>
    </a>

    <a href="/neckband">
      <div class="category">Neckbands</div>
    </a>
  </section>

  <section class="products">
    {%for item in data%}

    {% set disc = (item['originalPrice'] - item['price'])/ item['originalPrice'] *100%}

    <div class="product">
      <a href="/{{item['cat']}}/{{item['id']}}">
        <img src="{{item['image']['original']}}" alt="SonicWave Pro" width="250" height="250">
        <div class="product-info">
          <h2>{{item.title}}</h2>
          <span class="price">₹ {{item.price}}</span>
        </div>
        <div class="review-card">{{item.starRating}} ★</div>
        <div class="discount">{{disc | int}}%</div>
      </a>
    </div>
    {%endfor%}
  </section>

  <!-- <a href="/products" class="view-more">View More Products</a> -->





  <section class="reviews">
    <h3>EarBuzz - Buy the best earphones</h3>
    <div class="review">
      <div class="review-header">
        <!-- <span class="review-author">John D.</span>
          <span class="review-rating">★★★★★</span> -->
      </div>
      <p class="review-content">Unmask new audio developments with EarBuzz and redefine your listening experience to the next level! Every stylist of ours is meant to make it perfect and special at every moment of your audio journey. It does not matter if you are on a commute or working out or taking a cool, lazy rest - EarBuzz has the best earphones that are so comfortable, clear and great that one can wear them all day and never get tired of them. Here at Earbuzz you can discover the best and premium earphones Audio Innovations.</p>
    </div>
    <div class="review">
      <div class="review-header">
        <!-- <span class="review-author">Earphone Details</span>
        <span class="review-rating">★★★★☆</span> -->
      </div>
      <p class="review-content">Providing amazing audio gears with EarBuzz sounds like a dream come true and all senses revamping would be real with appendable earphones. Do not accept the commonplace; instead grab EarBuzz for an alternative infusing technology in different spheres of your life. Make your smart choice now and be part of the EarBuzz storm for bast sound odyssey ever!</p>
    </div>
    
  </section>

  <!-- <section class="cta-section">
      <h2>Unlock Your Sound Potential</h2>
      <p>Experience music like never before with AudioSynergy's cutting-edge technology.</p>
      <a href="#shop" class="cta-button">Explore Our Collection</a>
    </section> -->
</main>





{%endblock%}