{%extends"base.html" %}


{%block seo%}
<title>Earbuzz - Premium {{catname}} for Audiophiles</title>
<meta name="description" content="Explore earbuzz from the category {{catname}}. Get what you need.">
{%endblock%}
{%block content%}


<main>
  <h1 class="page-heading">Grab the Best {{catname}}</h1>


  <section class="categories">
    <a href="/tws">
      <div class="category ">TWS</div>
    </a>
    <a href="/over-ear-headphones">
      <div class="category">Over-Ear Headphones</div>
    </a>

    <a href="/wired-earphones">
      <div class="category">Wired Earphones</div>
    </a>
    <a href="/studio-headphones">
      <div class="category">Studio Headphones</div>
    </a>

    <a href="/neckband">
      <div class="category">Neckbands</div>
    </a>
  </section>



  <section class="products">
    {%for item in data%}

    {% set disc = (item['originalPrice'] - item['price'])/ item['originalPrice'] *100%}

    <div class="product">
      <a href="/{{item['cat']}}/{{item['id']}}">
        <img src="{{item['image']['original']}}" alt="SonicWave Pro" width="250" height="250">
        <div class="product-info">
          <h2>{{item.title}}</h2>
          <span class="price">₹ {{item.price}}</span>
        </div>
        <div class="review-card">{{item.starRating}} ★</div>
        <div class="discount">{{disc | int}}%</div>
      </a>
    </div>
    {%endfor%}
  </section>
  <!-- <section class="products">

    <div class="product">
      <img
        src="https://images.unsplash.com/photo-1600294037681-c80b4cb5b434?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
        alt="TechnoBeats Pro" width="250" height="250">
      <div class="product-info">
        <h3>TechnoBeats Pro</h3>
        <span class="price">$179.99</span>
      </div>
      <div class="review-card">4.6 ★</div>
      <div class="discount">-12%</div>
    </div>
    <div class="product">
      <img
        src="https://images.unsplash.com/photo-1606400082777-ef05f3c5cde2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80"
        alt="Harmony X1" width="250" height="250">
      <div class="product-info">
        <h3>Harmony X1</h3>
        <span class="price">299.99</span>
      </div>
      <div class="review-card">4.8 ★</div>
      <div class="discount">-8%</div>
    </div>
    <div class="product">
      <img
        src="https://rukminim2.flixcart.com/image/416/416/xif0q/data-cable/usb-type-c-cable/a/k/b/zeb-cu3100v-usb-to-type-c-braided-cable-zebronics-original-imagp24aqtwtvwaf.jpeg?q=70"
        alt="EchoWave Lite" width="250" height="250">
      <div class="product-info">
        <h3>EchoWave Lite</h3>
        <span class="price">$89.99</span>
      </div>
      <div class="review-card">4.3 ★</div>
      <div class="discount">-25%</div>
    </div>
    <div class="product">

      <img
        src="https://rukminim2.flixcart.com/image/416/416/kxhvf680/mouse/d/1/p/toad-14-portronics-original-imag9xnpexundzez.jpeg?q=70"
        alt="PulseFit Sport" width="250" height="250">
      <div class="product-info">
        <h3>PulseFit Sport</h3>
        <span class="price">$149.99</span>
      </div>
      <div class="review-card">4.7 ★</div>
      <div class="discount">-18%</div>
    </div>
  </section> -->

  <!-- <button class="load-more">Load More</button> -->

  <section class="reviews">
    <h3>EarBuzz - Buy the best earphones</h3>
    <div class="review">
      <div class="review-header">
        <!-- <span class="review-author">John D.</span>
        <span class="review-rating">★★★★★</span> -->
      </div>
      <p class="review-content">Unmask new audio developments with EarBuzz and redefine your listening experience to the
        next level! Every stylist of ours is meant to make it perfect and special at every moment of your audio journey.
        It does not matter if you are on a commute or working out or taking a cool, lazy rest – EarBuzz has the best
        earphones that are so comfortable, clear and great that one can wear them all day and never get tired of them.
      </p>
    </div>
    <div class="review">
      <div class="review-header">
        <!-- <span class="review-author">Sarah M.</span>
        <span class="review-rating">★★★★☆</span> -->
      </div>
      <p class="review-content">Providing amazing audio gears with EarBuzz sounds like a dream come true and all senses
        revamping would be real with appendable earphones. Do not accept the commonplace; instead grab EarBuzz for an
        alternative infusing technology in different spheres of your life. Make your smart choice now and be part of the
        EarBuzz storm for bast sound odyssey ever!</p>
    </div>
    
    <div class="review">
      <div class="review-header">
        <!-- <span class="review-author">Alex T.</span>
        <span class="review-rating">★★★★★</span> -->
      </div>
      <p class="review-content">Here at Earbuzz you can discover the best and latest Audio Innovations. Check Premium
        {{catname}} for {{catname}} lovers. </p>
    </div>
  </section>
  
</main>

{%endblock%}